//==============================================================================
// Header
//==============================================================================
.header
  background: #fff

.header__top
  +clr
  padding: 45px 0 20px

.header__top-container
  padding-bottom: 15px

.header__contact
  float: left

.header__calback
  float: right

.header__phone,
.header__email
  transition: opacity .3s
  span
    vertical-align: middle
    margin-right: 15px
  &:hover, &:focus, &:active
    text-decoration: none
    outline: none

.header__phone
  margin-right: 60px
  font-size: 26px
  font-weight: 700
  color: #5e5e5e
  span
    position: relative
    top: -3px
  &:hover, &:focus, &:active
    color: #5e5e5e
    opacity: .7
.header__email
  font-size: 26px
  font-weight: 700
  color: #3f64ae
  &:hover, &:focus, &:active
    color: #3f64ae
    opacity: .7

.logo
  display: block
  margin: 17px 0 0 0

.main-nav
  background: #efefef
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16 ) inset

.nav
  text-align: center

.nav__item
  display: inline-block
  margin: 0 20px
  font-size: 21px
  font-weight: bold

.nav__link
  position: relative
  display: block
  padding: 15px 20px
  color: #5e5e5e
  &:hover,
  &:focus,
  &:active,
  &.active
    color: #fff
    background: linear-gradient(#88A5DF, #5576b6)
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16 ) inset
    text-decoration: none
    &:after
      width: 100%
//==============================================================================
// Footer
//==============================================================================

.breadcrumbs-container
  margin: 0 auto 30px

.breadcrumbs
  +clr

.breadcrumbs__item
  position: relative
  float: left
  font-size: 14px
  + .breadcrumbs__item
    margin-left: 30px
    &:before
      content: '//'
      position: absolute
      left: -18px
      top: 0
      bottom: 0
      margin: auto 0
      display: block
      color: #555555

.breadcrumbs__link
  text-decoration: underline
  color: #3f64ae
  &:hover
    text-decoration: none

.breadcrumbs__active
  color: #555555
//==============================================================================
// Form
//==============================================================================
.form-control_shadow
  border: 1px solid #fafafa
  border-radius: 3px
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .16 )
  transition: border-color .3s
  &:focus
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .16 ), 
    border: 1px solid darken(#fafafa, 20)

.form-control_size_l
  font-size: 20px
  height: 47px
  padding: 12px 25px

.form-control__search
  padding-left: 60px
  background-image: url(../img/icons/search-icon.png)
  background-repeat: no-repeat
  background-position: 20px center

.checkbox
  position: relative
  display: inline-block
  padding-left: 30px
  color: #fff
  font-size: 18px
  font-weight: 400
  cursor: pointer
  margin: 0
  input
    clip: rect(0, 0, 0, 0)
    visibility: hidden
    &:checked+.checkbox__fake
      &:after
        width: 12px
        height: 12px

.capcha
  +clr
.capcha__img
  float: left
  width: 136px

.capcha__field
  margin-left: 150px

.checkbox__fake
  position: absolute
  left: 0
  top: 0
  bottom: 0
  margin: auto 0
  display: block
  width: 20px
  height: 20px
  background: #fff
  border-radius: 3px
  &:after
    content: ''
    display: block
    width: 0
    height: 0
    border-radius: 50%
    background: #3f64ae
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    transition: width .3s, height .3s

.form-contact
  margin-top: 65px
  h2
    font-size: 30px
    color: #515151
    margin-bottom: 27px
  .btn
    font-weight: 400
    font-size: 17px
    padding: 7px 20px

  .form-control
    font-size: 17px
    padding: 9px 12px
    border-color: #aeaeae
    &:not(textarea)
      height: 40px
.form-modal 
  .form-control
    font-size: 17px
    padding: 14px 12px
    border-color: #aeaeae
    &:not(textarea)
      height: 50px
  .btn
    padding-top: 10px
    padding-bottom: 10px
    font-size: 20px
//==============================================================================
// Button && Link
//==============================================================================
.btn-primary
  padding-left: 25px
  padding-right: 25px
  background: #3f64ae
  font-size: 17px
  font-weight: 700
  transition: background .3s
  &:focus
    background: lighten(#3f64ae, 10)

.btn-submit
  color: #3f64ae
  background: #a0e4ff
  transition: background .3s
  &:hover
    color: #3f64ae
    background: darken(#a0e4ff, 10)
  
.btn-default
  padding: 10px 50px
  border-color: #aeaeae
  background: #aeaeae
  color: #fff
  font-weight: 700
  font-size: 24px
  transition: background-color .3s, border-color .3s
  &:hover
    border-color: darken(#aeaeae, 10)
    background: darken(#aeaeae, 10)
    color: #fff

.btn-lg
  padding: 7px 20px
  font-size: 24px
  font-weight: 700
//==============================================================================
// Main page
//==============================================================================
.main_inner-page
  padding: 30px 0 60px
  h1
    text-transform: uppercase
    font-weight: 700
    font-size: 30px
    color: #515151
    text-align: center
    margin-bottom: 40px
    +clr
  h2
    color: #515151
    text-align: center
    font-size: 24px
    margin-top: 80px
    margin-bottom: 40px
    text-transform: uppercase
    &:first-child
      margin-top: 0px

.come-back-link
  display: inline-block
  float: left
  color: #b87881
  font-size: 18px
  font-weight: 400
  text-transform: none
  margin: 8px 0
  &:hover
    color: #b87881

.main-promo
  position: relative
  overflow: hidden
  height: 694px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: #fff
  font-weight: 700

.main-promo__inner
  position: absolute
  height: 100%
  max-width: 1140px
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.main-promo__title
  margin: 62px 0 0
  font-weight: 700
  font-size: 40px

.main-promo__img,
.main-promo__img-base,
.main-promo__img-hover
  border: 4px solid #fff
  border-radius: 5px
  cursor: pointer
  transition: filter .3s, opacity .3s, transform .3s

.main-promo__img-base
  filter: grayscale(100%)

.grayscale
  filter: grayscale(100%)

.main-promo__caption
  margin-top: 15px
  text-align: center
  text-transform: uppercase
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.7)

.main-promo__left,
.main-promo__right
  position: absolute
  top: 250px
  width: 230px
  cursor: pointer
  img
    transition: transform .5s, opacity .5s
  .main-promo__img-base
    width: 100%
  .main-promo__img-hover
    opacity: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    z-index: 5
    img
      transition: transform .3s, opacity .3s
  &:hover
    img 
      transform: perspective(0) rotateY( 0deg )
    .main-promo__img-hover
      opacity: 1

.main-promo__bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  opacity: 0
  transition: opacity .75s

.main-promo__center
  position: absolute
  top: 170px
  left: 0
  right: 0
  margin: 0 auto
  width: 548px
  transition: filter .3s

.main-promo__left
  left: 25px
  img
    transform: perspective( 400px ) rotateY( 15deg )

.main-promo__right
  right: 25px
  img
    transform: perspective( 400px ) rotateY( -15deg )

.l-section
  padding: 80px 90px 70px
  font-size: 16px
  line-height: 1.7
  h2
    margin-bottom: 30px
    font-weight: 700
    text-transform: uppercase

.l-section__action
  margin-top: 35px

.base-info-section
  margin-bottom: 5px

.base-info-card
  +clr
  margin-bottom: 30px

.base-info-card__img
  float: left
  width: 160px
  text-align: center

.base-info-card__img-title
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  color: #9c2d40

.base-info-card__text
  margin-left: 165px
  text-align: left
  p
    margin-bottom: 15px
    line-height: 1.3


.goods-view
  +clr
  overflow: hidden
  background: #e6eefd
  border-radius: 5px
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16 )

.goods-view__photo
  float: left
  overflow: hidden
  width: 125px
  height: 100%


.goods-view__img
  min-height: 100%
  width: auto
  max-width: inherit
  border-radius: 5px 0 0 5px

.goods-view__content
  margin-left: 125px
  padding: 30px 26px 20px

.goods-view__title
  margin-bottom: 20px
  font-weight: 700
  font-size: 26px
  color: #3f64ae

.goods-view__describe
  margin-bottom: 26px

.fabrics-list-wrap
  margin: 40px 0 0

.fabrics-list
  text-align: justify
  vertical-align: middle
  &:after
    content: ''
    display: inline-block
    width: 100%
    height: 0

.fabrics-list__item
  display: inline-block
  width: 32%
  line-height: 1

.fabrics-list__img 
  display: inline-block
  width: 70px
  margin: 0 10px
  vertical-align: middle
  text-align: center

.fabrics-list__link
  font-size: 24px
  color: #3f64ae

.map
  height: 460px

.blue_fill
  background: #3f64ae

.special-propose
  margin-bottom: 47px

.special-propose__goods
  padding: 20px 15px 10px
  text-align: center

.special-propose__form
  padding: 20px 90px 10px
  .checkbox:not(:first-child)
    margin-left: 30px

.special-propose__form-head
  overflow: hidden
  margin-bottom: 18px
  .special-propose__title
    float: left
    margin-bottom: 0

.special-prpose__checkbox
  float: right

.special-propose__title
  margin: 0 0 18px
  color: #fff
  font-size: 24px
  font-weight: 700
  text-transform: uppercase

.special-propose__img
  margin-bottom: 5px

.special-propose__link
  color: #fff
  font-size: 16px
  a
    text-decoration: underline
    color: #fff
    &:hover,
    &:focus
      color: #fff
      text-decoration: none

.goods-container-second
  margin: 20px 0 70px

.goods-machine

.goods-machine__img
  padding: 14px 20px
  margin-bottom: 20px
  border: 1px solid #898989
  background: #fff
  text-align: center

.goods-machine__content
.goods-machine__title
  margin-bottom: 15px
  font-size: 24px
  a
    color: #3f64ae
    text-decoration: underline
    font-weight: 700
    &:hover
      text-decoration: none
.goods-machine__describe
  margin-bottom: 15px
  font-size: 16px

.goods-machine__action
  a
    font-size: 16px
    color: #3f64ae
    text-decoration: underline
    &:hover
      text-decoration: none

.go-top
  margin: 54px 0 21px
  text-align: center

.toUp
  position: relative
  display: inline-block
  height: 60px
  width: 60px
  border: 3px solid #3f64ae
  border-radius: 50%
  transition: opacity .3s
  &:hover
    opacity: .7
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 2px
    left: 0
    margin: auto
    display: block
    width: 0
    height: 0
    border-style: solid
    border-width: 0 15px 25px 15px
    border-color: transparent transparent #3f64ae transparent

.footer
  padding: 20px 0 45px
  border-top: 1px solid #c6c6c6
  background: #fff

.footer__nav
  padding: 5px 0
  .nav
    margin: 0 0 15px
    text-align: left
  .nav__item
    margin: 0 50px 0 0
    &:last-child
      margin-right: 0

  .nav__link
    padding: 0
    font-size: 17px

.footer__phone, 
.footer__email
  font-size: 20px

.footer__phone
  @extend .header__phone
.footer__email
  @extend .header__email

.social-link
  display: inline-block
  width: 32px
  height: 32px
  vertical-align: middle



.footer__copyright
  margin-top: 40px
  text-align: center
  font-size: 14px
  color: #3f64ae

.social-link_fb
  +s(fb)
.social-link_vk
  +s(vk)
.social-link_ok
  +s(ok)
.social-link_tw
  +s(tw)

.footer__bottom
  +clr

.footer__contact
  float: left

.footer__social
  float: left
  margin-left: 50px

/******************************************************************************/
// Contact
/******************************************************************************/
.panel-group_contact
  .panel-title
    a
      display: inline-block
      padding: 20px 0
      color: #3f64ae
      font-size: 30px
      margin-right: 20px
      &.collapsed
        .collapse-icon:after
          transform: rotate(180deg)
    .collapse-icon
      margin-left: 30px
      &:after
        content: ''
        display: inline-block
        width: 30px
        height: 30px
        vertical-align: middle
        +s(collapse)
        transition: transform .3s
        transform: rotate(0)
  .panel
    border-bottom: 1px solid #d1d1d1
    &:last-child
      border-bottom: none

  dl
    margin-bottom: 19px
    color: #4a4a4a

  .panel-body
    padding: 12px 2px 32px
    a.drive-schecma
      text-decoration: underline
      font-weight: bold
      font-size: 17px
      color: #3f64ae
      &:hover
        text-decoration: none
        color: #3f64ae

.contact-map
  margin-bottom: 40px
  height: 515px

.main_contact
  h1
    text-transform: uppercase
    font-size: 30px
    font-weight: 700
    margin-bottom: 15px
    color: #515151

.news
  margin-bottom: 50px

.news__img-outer
  display: block
  max-width: 220px
  margin: 0 auto
  padding: 15px 30px 10px
  border: 1px solid #b2b2b2
  transition: opacity .3s
  text-align: center
  &:hover
    opacity: .7
.news__photo_single .news__img-outer
  max-width: inherit 
  img
    width: 100%

.news__photo_single .news__img-outer_c img
  width: 100%

.news__img-outer_c
  border: none
  padding: 0
  text-align: center


.news__head
  margin-bottom: 20px

.news
  .news__title
    display: inline-block
    margin-bottom: 0
    font-size: 24px
    font-weight: 700
    color: #9c2d40
    text-transform: uppercase
    span
      text-decoration: underline
    a
      color: #9c2d40
      text-decoration: underline
      &:hover
        text-decoration: none

.news__date
  font-size: 18px
  color: #515151
  display: inline-block
  margin-left: 20px

.news_body
  font-size: 22px
  color: #515151
  .news__date
    display: block
    font-size: 18px
    margin: 25px 0 0

.about-block
  margin-bottom: 30px
  font-size: 22px
  color: #515151
  h3
    font-weight: 700
    font-size: 26px
    margin: 0 0 5px
  p
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
.about-block__img
  text-align: center

.certificat-row
  font-size: 0

.certificat 
  +clr
  float: none !important
  font-size: 16px
  display: inline-block
  margin-bottom: 80px
  vertical-align: top
.certificat__img
  float: left
  width: 140px
  border: 1px solid #a39797
  position: relative
.certificat__zoom
  position: absolute
  right: 10px
  bottom: 10px
  cursor: pointer
  transition: opacity .3s
  &:hover
    opacity: .7

.certificat__img-show
.certificat__zoom
.certificat__content
  margin-left: 165px
.certificat__name
  display: block
  max-width: 220px
  margin-bottom: 32px
  font-weight: 700
  font-size: 18px
  color: #5e5e5e
  &:hover
    color: #5e5e5e
.certificat__upload
  display: block
  margin-bottom: 32px
  color: #3f64ae
  font-weight: 700
  text-decoration: underline
  .icon-upload
    position: relative
    top: 2px
    margin-right: 10px
  &:hover
    text-decoration: none
    color: #3f64ae
.certificat__type

.modal-backdrop.in
  opacity: .8

.modal-dialog
  width: 440px

.modal-content
  border-radius: 2px

.close
  float: none
  position: absolute
  top: 10px
  right: 10px

.modal_img
  img
    width: 100%

.modal-content
  padding: 30px 38px

.modal-header
  margin-bottom: 38px

.modal-logo
  float: left

.modal-title
  font-size: 26px
  font-weight: 700
  color: #5b5b5b

.modal-header,
.modal-body,
.modal-footer
  padding: 0

.has-logo
  padding: 0 0 16px
  .modal-title
    float: right
    padding-top: 36px

.certificat__img-show
  display: block

.navbar-toggle
  margin: 0
  float: left
  height: 38px
  background: rgb(63, 100, 174)
  .icon-bar
    background: #fff

@media screen and (min-width: 768px)
  .modal-dialog
    width: 440px
/**************************************************/
/*Media*/
/**************************************************/

@media screen and (max-width: 1200px)
  .main-promo__center
    width: 390px
    top: 210px
  .main-promo__left, .main-promo__right
    width: 200px
  .header__phone, .footer__phone,
  .header__email, .footer__email 
    font-size: 20px
    span
      margin-right: 8px 
  .header__phone
    margin-right: 20px
  
  .nav__item
    margin: 0
  
  .l-section
    padding-left: 0
    padding-right: 0

  .fabrics-list__item
    width: 49%
    text-align: center

  .special-propose__form
    padding-right: 25px
    padding-left: 25px

@media screen and (max-width: 991px)
  .main-promo__left,
  .main-promo__right,
  .main-promo__center
    position: relative
    left: 0
    top: 0
    right: 0
    max-width: 90%
    margin: 30px auto
    img
      transform: perspective(0) rotateY(0deg)

  .main-promo__title
    margin-top: 30px
    font-size: 32px

  .main-promo
    height: auto
  .main-promo__inner
    position: relative
    z-index: 500
  .logo
    text-align: center

  .nav__link
    font-size: 17px
    padding: 15px

  .header__contact
    +clr
    float: none
    margin-bottom: 10px
  .header__email
    float: right
  .header__phone
    float: left

  .goods-view
    margin-bottom: 20px

  .special-propose__goods 
    margin-bottom: 30px

  .goods-machine
    margin-bottom: 20px

  .footer__nav .nav__item
    margin-right: 15px

  .footer__nav .nav__link
    font-size: 16px

  .footer__copyright
    margin-top: 20px

  .footer
    padding-bottom: 25px

@media screen and (max-width: 767px)
  .header__calback
    .btn
      display: block
      margin-left: 50px
      width: calc(100% - 50px)
  .header__phone,
  .header__email
    float: none
    margin-bottom: 20px
    margin-right: 0
    display: block
    text-align: center
    font-size: 25px

  .header__top
    padding-top: 20px

  .header__calback
    float: none
    text-align: center

  .fabrics-list__item
    display: block
    width: auto
    text-align: left

  .special-propose__form-head 
    .special-propose__title
      text-align: center
      float: none
      margin-bottom: 15px

    .special-prpose__checkbox
      float: none
      text-align: center

  .nav__item
    display: block

  .nav__link
    border-bottom: 2px solid rgb(94, 94, 94)
    &:after
      display: none
  .nav__item
    &:last-child .nav__link
      border: none

  .base-info-card__text
    margin-left: 0

  .base-info-card__img
    float: none
    margin-bottom: 15px
    text-align: center
    width: auto

  .footer__logo
    display: block
    text-align: center

  .footer__contact
    float: none
    text-align: center

  .footer__social
    margin: 0
    float: none
    text-align: center
  /**
   * Contact
   */
  .main_contact h1
    margin-top: 35px
    text-align: center

  .map-contact
    margin-bottom: 30px

  .form-contact
    margin-top: 0
    h2
      text-align: center

  .panel-group_contact
    .panel-title
      a
        position: relative
        padding-right: 50px
        margin: 0
        display: block
      .collapse-icon
        margin-left: 0
        position: absolute
        right: 0
        top: 18px

  .news__photo
    margin-bottom: 15px

  .news__head
    text-align: center

  .news__title
    margin-bottom: 5px
    display: block

  .news__date
    margin: 0

  .certificat
    float: none
    display: block
    width: 100%
    text-align: center
    margin-bottom: 35px

  .certificat__name
    max-width: inherit
    margin-bottom: 10px

  .certificat__upload
    margin-bottom: 10px

  .certificat__img
    float: none
    text-align: center
    display: inline-block
    margin-bottom: 10px
  
  .certificat__img-show
    display: inline-block

  .certificat__content
    margin-left: 0  

  .modal-dialog
    width: auto

@media screen and (max-width: 479px)
  .goods-view__photo
    float: none
    width: 100%
    text-align: center

  .goods-view__img
    border-radius: 5px 

  .goods-view__content
    margin-left: 0