<footer class="footer">
  <div class="footer_top container">
    <div class="row">
      <div class="col-sm-2">
        <a href="#" class="footer__logo"><img src="img/logo-footer.png" alt=""></a>
      </div>
      <div class="col-sm-10">
        <div class="footer__nav hidden-xs">
          <ul class="nav">
            <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Сертификаты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Вопрос - ответ</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </div>

        <div class="footer__bottom">
          <div class="footer__contact">
            <a href="tel:78127031264" class="footer__phone"><span class="icon-tel"></span>+7 (812) 703-12-64</a>
            <a href="mailto:info@r-garnet.ru" class="footer__email"><span class="icon-mail"></span>info@r-garnet.ru</a>
          </div>

          <div class="footer__social">
            <a href="#" class="social-link social-link_fb"></a>
            <a href="#" class="social-link social-link_vk"></a>
            <a href="#" class="social-link social-link_ok"></a>
            <a href="#" class="social-link social-link_tw"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright"><p>Все права защищены ЗАО "Р-Гарнет</p></div>
</footer>

<div class="modal fade" id="callback" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header has-logo">
        <div class="modal-logo"><img src="img/logo-footer.png" alt=""></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Обратный звонок:</h4>
      </div>
      <div class="modal-body">
        <form class="form-modal">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ваше имя">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ваш номер телефона">
          </div>

          <div class="form-action">
            <button type="submit" class="btn btn-primary btn-block">Перезвонить мне</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="lightboxModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal_img" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <img src="/" alt="Сертификаты">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
