<header id="header" class="header">
  <div class="container header__top-container">
    <div class="row">

      <div class="col-md-3 col-sm-3 brand">
        <a href="#" class="logo">
          <img src="./img/logo.png" alt="Гарнет Лого">
          <span class="logo__text">Р-Гарнет</span>
        </a>
      </div>

      <div class=" col-md-9 col-sm-9">
        <div class="header__top">
          <div class="header__contact">
            <a href="tel:78127031264" class="header__phone"><span class="icon-tel"></span>+7 (812) 703-12-64</a>
            <a href="mailto:info@r-garnet.ru" class="header__email"><span class="icon-mail"></span>info@r-garnet.ru</a>
          </div>

          <div class="header__calback">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavigation" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#callback">Заказать обратный звонок</button>
          </div>
        </div>

        <div class="header__bottom">
          <form class="header__search">
            <input type="search" class="form-control form-control__search form-control_shadow" placeholder="Поиск">
          </form>
        </div>
      </div>

    </div>
  </div>

  <nav class="main-nav collapse navbar-collapse" id="mainNavigation">
    <div class="container">
      <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Сертификаты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Вопрос - ответ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </div>
  </nav>

</header>
